.page{
  max-width: 1280px;
<<<<<<< HEAD
  font-family: 'Inter', Arial, sans-serif; ;
=======
  font-family: 'Inter', Arial, sans-serif;
>>>>>>> 118abea31c4426fc9fc845a8ca9d1769f1f19a3b
  background-color: #2A2C2F;
  margin: 0 auto 0 auto;
  -webkit-font-smoothing: antialiased;
}
