.footer__links{
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  color: #FFF;
  padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__links{
    flex-direction: column;
  }
  .footer__links li{
    padding-bottom: 32px;
  }
  .footer__links li:last-of-type{
    padding-bottom: 48px;
  }

}
