.cover{
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  margin: 92px auto 0 auto;
  background-repeat:no-repeat;
  width: 100%;
  height: 740px;
  position: relative;
  box-sizing: border-box;
}

.cover::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::before{
  background: #2A2C2F;
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover{
    height: 640px;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover{
    margin: 90px 0 0 0;
  }

}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover{
    margin: 34px auto 0 auto;
    max-height: 200px;
    
  }

}
